:root.theme-dark {
  --bg-image: url(..//images/cover-image-dark.png);
  --main-text-color: #F1B2CE;
  --nav-color: #FF0070;
  --nav-focus: #FF0070;
  --nav-color-hover: rgba(255, 0, 112, 0.4);
  --accent-color: #FF0070;
  --main-bg-color: #000028;
  --main-heading-color: #000028;
  --section-heading-color: #FF0070;
  --heading-bg-color:  #FF0070;
  --header-logo-color: #DB00FF;
  --footer-logo-color: #DB00FF;
}
