:root.theme-light {
  --bg-image: url(..//images/cover-image-light.png);
  --main-text-color: #353430;
  --main-text-focus: #353430;
  --nav-color: #353430;
  --nav-focus: #353430;
  --nav-color-hover: rgba(50, 49, 45, 0.4);
  --accent-color: #FF8DCB;
  --main-bg-color: #FFF1F7;
  --main-heading-color: #353430;
  --section-heading-color: #353430;
  --heading-bg-color: #FF8DCB;
  --header-logo-color: #FFC2E6;
  --footer-logo-color: #FFC2E6;
}

.theme-light .header__icon {
  display: none;
}

@media (prefers-color-scheme: light) {
  :root {
    --bg-image: url(..//images/cover-image-light.png);
    --main-text-color: #353430;
    --main-text-focus: #353430;
    --nav-color: #353430;
    --nav-focus: #353430;
    --nav-color-hover: rgba(50, 49, 45, 0.4);
    --accent-color: #FF8DCB;
    --main-bg-color: #FFF1F7;
    --main-heading-color: #353430;
    --section-heading-color: #353430;
    --heading-bg-color: #FF8DCB;
    --header-logo-color: #FFC2E6;
    --footer-logo-color: #FFC2E6;
  }

  .theme-auto .header__icon {
    display: none;
  }
}