/* Основные стили проекта. Это стили для темы, которую вы верстаете первой. */

.page {
  font-family: var(--main-font-family);
  font-size: var(--main-font-size);
  background-image: var(--bg-image);
  background-position: center;
  background-attachment: fixed;
  padding: 10px;
}

.header {
  min-block-size: 100vh;
}

.decorated-zone {
  position: relative;
  color: var(--nav-color);
}

.decorated-zone::before,
.decorated-zone::after {
  content: '';
  position: absolute;
  width: 25px;
  height: 25px;
}

.decorated-zone::before {
  bottom: 0;
  left: 0;
  border-bottom: 1px solid var(--nav-color);
  border-left: 1px solid var(--nav-color);
}

.decorated-zone::after {
  top: 0;
  right: 0;
  border-top: 1px solid var(--nav-color);
  border-right: 1px solid var(--nav-color);;
}

.header__icon {
  text-transform: uppercase;
  position: absolute;
  top: 0;
  right: 0;
  margin-right: 18px;
  padding-right: 10px;
}

.header__icon::after {
  content: '';
  display: block;
  width: 9px;
  height: 9px;
  border-radius: 50%;
  background: #FF0070;
  box-shadow: 0px 0px 4px 2px #FF0070;
  position: absolute;
  top: 50%;
  left: 100%; 
  transform: translateY(-50%);

}

.header__theme-menu {

}

.header__theme-menu-list {

}

.header__theme-menu-item {

}

.header__theme-menu-button {

}

.header__theme-menu-button_type_light {

}

.header__theme-menu-button_active {

}

.header__theme-menu-button_type_auto {

}

.header__theme-menu-button_type_dark {

}

.header-hero {
  
}

.header-hero__title {

}

.header-hero__description {

}

.content {

}

.section {

}

.why {

}

.section__title {

}

.section-lists {

}

.section-lists__item {

}

.section-lists__title {

}

.section-lists__text {

}

.what {

}

.how {

}

.section-list__title {

}

.gallery {

}

.section__images {

}

.section__images img {
  max-width: 100%;
}

.footer {

}

.footer__banner {

}

