.page {
  font-family: var(--main-font-family);
  font-size: var(--main-font-size);
  background-color: var(--main-bg-color);
  background-image: var(--bg-image);
  background-position: center;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 0 10px;
}

.page .text-link {
  text-shadow: 2px 2px 0 var(--accent-color);
  text-decoration: none;
}

.page .text-link:hover {
  border-bottom: 1px solid var(--main-text-color);
}

.page .text-link:focus-visible {
  outline: none;
  border: 1px solid var(--main-text-focus);
}

.header {
  min-block-size: 668px;
  block-size: 100vh;
  display: grid;
  grid-template-rows: 1fr min-content 1fr;
  grid-template-columns: 1fr 1fr;
  padding: 10px 0;
}

.decorated-zone {
  position: relative;
  color: var(--nav-color);
}

.decorated-zone::before,
.decorated-zone::after {
  content: '';
  position: absolute;
  width: 25px;
  height: 25px;
}

.decorated-zone::before {
  bottom: 10px;
  left: 0;
  border-bottom: 1px solid var(--nav-color);
  border-left: 1px solid var(--nav-color);
}

.decorated-zone::after {
  top: 10px;
  right: 0;
  border-top: 1px solid var(--nav-color);
  border-right: 1px solid var(--nav-color);
  ;
}

.header__icon {
  text-transform: uppercase;
  position: absolute;
  top: 10px;
  right: 0;
  margin-right: 18px;
  padding-right: 10px;
}

.header__icon::after {
  content: '';
  display: block;
  width: 9px;
  height: 9px;
  border-radius: 50%;
  background: #FF0070;
  box-shadow: 0px 0px 4px 2px #FF0070;
  position: absolute;
  top: 50%;
  left: 100%;
  transform: translateY(-50%);
}

.header__theme-menu {
  grid-column: 1/3;
  justify-self: end;
  align-self: center;
}

.header__theme-menu-item {
  line-height: 134%;
}


.header__theme-menu-list {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.header__theme-menu-button {
  background-color: transparent;
  border: 1px solid transparent;
  text-transform: lowercase;
  padding: 0 12px;
}

.header__theme-menu-button:hover {
  cursor: pointer;
  border: 1px solid var(--nav-color-hover);
}

.header__theme-menu-button:focus-visible {
  outline: none;
  border-bottom: 1px solid var(--nav-focus);
}

.header__theme-menu-button_active {
  border: 1px solid var(--nav-focus);
  pointer-events: none;
}

.header-logo {
  grid-column: 1/3;
  font-weight: bold;
  font-size: var(--mobile-logo-size);
  line-height: 83%;
  color: var(--header-logo-color);
  text-shadow: 4px 4px 0 var(--accent-color);
  inline-size: min-content;
}

.header-description {
  grid-column: 1/3;
  align-self: center;
}

.header-description__text {
  font-weight: 700;
  color: var(--main-heading-color);
  background-color: var(--heading-bg-color);
}

.content {
  display: grid;
  gap: 50px;
  margin-bottom: 40px;
}

.section {
  display: grid;
  row-gap: var(--section-gap);
}

.section.gallery {
  gap: 10px;
}

.why {
  margin-top: 40px;
}

.section__title {
  font-size: var(--main-font-size);
  color: var(--section-heading-color);
  line-height: var(--main-line-height);
  font-weight: bold;
}

.section-lists {
  display: grid;
  grid-template-rows: repeat(2, min-content);
  grid-auto-rows: min-content;
  gap: var(--section-gap);
}

.section-lists__item {
  display: grid;
  grid-template-rows: min-content 1fr;
  gap: var(--list-gap);
}

.section-lists__begining {
  color: var(--main-heading-color);
  background-color: var(--heading-bg-color);
}

.section-lists__title {
  font-size: var(--main-font-size);
  color: var(--main-heading-color);
  background-color: var(--heading-bg-color);
  font-weight: bold;
  line-height: var(--main-line-height);
  max-height: fit-content;
}

.section-group {
  display: grid;
  gap: var(--section-gap);
}

.section-lists__text {
  color: var(--main-text-color);
  line-height: var(--main-line-height);
}

.section__images {
  display: grid;
  gap: var(--list-gap);
}

.section__images img {
  inline-size: 100%;
  block-size: 100%;
  object-fit: cover;
}

.footer {
  min-block-size: 668px;
  block-size: 100vh;
  display: grid;
}

.footer-logo {
  font-weight: bold;
  font-size: var(--mobile-logo-size);
  line-height: 83%;
  color: var(--footer-logo-color);
  text-shadow: 2px 2px 0 var(--accent-color);
  margin: auto 0;
  text-align: center;
}


@media (768px <=width < 1024px) {
  .section.what {
    grid-template-columns: min-content 1fr;
  }

  .why {
    column-gap: 20px;
  }


  .what .section-lists {
    grid-column: 1/3;
  }

  .how {
    column-gap: var(--section-gap);
  }

  .how .section__title {
    min-inline-size: 230px;
  }
}


@media (width >=1024px) {
  .header__theme-menu {
    grid-column: 1/3;
    justify-self: center;
    align-self: flex-start;
  }

  .header__theme-menu-list {
    flex-direction: row;
  }

  .why {
    column-gap: 10px;
  }

  .section.what {
    grid-template-columns: 1fr 2fr;
  }

  .what .section-lists {
    grid-template-columns: repeat(3, 1fr);
    grid-column: 1/3;
    gap: 0;
    column-gap: var(--section-gap);
  }

  .how {
    column-gap: var(--list-gap);
  }
}


@media (width >=768px) {
  .page {
    padding: 0 20px;
  }

  .header {
    padding: 20px 0;
  }

  .decorated-zone::before {
    bottom: 20px;
  }

  .header__icon,
  .decorated-zone::after {
    top: 20px;
  }

  .header-logo {
    font-size: var(--desktop-logo-size);
    inline-size: 102%;
    margin-left: -20px;
  }

  .header-description {
    grid-column: 2/3;
  }

  .content {
    gap: 80px;
    margin-bottom: 60px;
  }

  .why {
    grid-template-columns: 1fr 2fr;
    margin-top: 60px;
  }

  .how {
    grid-template-columns: 1fr 2fr;
    align-items: start;
  }

  .section.gallery {
    gap: 20px;
  }

  .section__images {
    grid: repeat(3, auto)/repeat(3, auto);
    grid-auto-flow: dense;
    gap: 20px;
  }

  .section__images img:nth-child(1) {
    grid-column: span 2;
  }

  .section__images img:nth-child(2) {
    grid-column: 3;
    grid-row: span 2;
  }

  .section__images img:nth-child(3) {
    grid-column: 1;
    grid-row: 2/4;
  }

  .section__images img:nth-child(5) {
    grid-column: 2/ span 2;
  }

  .footer-logo {
    font-size: var(--desktop-logo-size);
  }
}